:root{
	--font-size-menu: 9px;
	--font-size-icon: 40px;
}

body{
	flex-direction: column;
}

main{
	width: 100%;
	flex: 1;
}

main .plug-list{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 10px;
}

main .plug-list .plug-entry{
	padding: 15px;
	padding-left: 0;
	border: none;
	border-radius: 6px;
	box-shadow: 3px 3px 5px #dddddd;
	display: grid;
	grid-template-columns: 80px calc(100% - 80px - 10px);
	grid-column-gap: 10px;
}

main .plug-list .plug-entry span{
	font-size: var(--font-size-label);
}

main .plug-list .plug-entry .icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 15px;
}

main .plug-list .plug-entry .icon .fa.fa-plug{
	font-size: var(--font-size-icon);
}

main .plug-list .plug-entry .icon .status{
	font-size: var(--font-size-error);
	padding: 2px 5px;
	border: none;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .plug-list .plug-entry .icon .status .fa{
	margin: 0;
	margin-right: 5px;
}

main .plug-list .plug-entry .icon .status.online{
	color: #ffffff;
	background: linear-gradient(
		to bottom right,
		#159115,
		#045904
	);	
}

main .plug-list .plug-entry .icon .status.offline{
	color: #ffffff;
	background: linear-gradient(
		to bottom right,
		#d50d0d, 
		#8a0101
	);	
}

main .plug-list .plug-entry .info{
	display: flex;
	flex-direction: column;
	place-content: space-between;
}

main .plug-list .plug-entry .info .info-container{
	width: 100%;
	overflow: hidden;
}

main .plug-list .plug-entry .info .info-container span{
	width: 100%;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

main .plug-list .plug-entry .info .action {
	display: inherit;
	place-content: inherit;
}

main .plug-list .plug-entry .info .action button{
	background: none;
	border: none;
	padding: 0;
	font-size: var(--font-size-error);
	align-items: center;
}

main .plug-list .plug-entry.add-plug{
	display: block;
	padding: 20px 0;
	background: linear-gradient(
		to bottom right,
		#0b6ece,
		#024b93
	);
	box-shadow: 3px 3px 5px #002f5e5c;
}

main .plug-list .plug-entry.add-plug button{
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 0;
	color: #ffffff;
	font-size: var(--font-size-label);
}

main .plug-list .plug-entry.add-plug button .fa{
	font-size: calc(var(--font-size-icon) - 10px);
	color: #ffffff;
}

section.menu{
	display: grid;
	grid-template-columns: repeat(3, calc(100% / 3));
	border: 1px solid #dddddd;
	border-radius: 10px 10px 0 0;
	background: linear-gradient(
		to bottom right,
		#ffffff,
		#e6e3e3
	);
	width: calc(100% - 20px);
	margin: 0 auto;
	padding: 15px 0;
}

section.menu button.button-menu{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: center;
}

section.menu button{
	font-size: var(--font-size-label);
	background: none;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}