<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Boulou | Plug Manager</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/manager.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
	<script defer src="/js/main.js"></script>
	<script defer src="/js/manager.js"></script>
</head>
<body>
	<div class="manager-window plug" style="z-index: 10;">
		<main>
			<div class="plug-list">
				<div class="plug-entry add-plug">
					<button class="icon">
						<i class="fa fa-plus"></i> Ajotuer une nouvelle prise
					</button>
				</div>
			</div>
		</main>
		<section class="menu">
			<button class="button-menu add"><i class="fa fa-plug"></i> Prises enregistrées</button>
			<button class="button-menu consumption"><i class="fa fa-plus"></i> Consommation</button>
			<button class="button-menu add"><i class="fa fa-calendar"></i> Planification</button>
		</section>
	</div>
	<div class="manager-window consumption" style="z-index: 1;">

	</div>
</body>
</html>

<template id="plug-entry-template">
	<div class="plug-entry">
		<div class="icon">
			<i class="fa fa-plug"></i>
			<span class="status"><i class="fa fa-exclamation-circle"></i> ---</span>
		</div>
		<div class="info">
			<div class="info-container">
				<span class="id">---</span>
				<span class="name">---</span>
			</div>
			<div class="action">
				<button class="plug-switch"><i class="fa fa-toggle-off"></i> Basculer</button>
				<button><i class="fa fa-exclamation-circle"></i> Information</button>
				<button><i class="fa fa-trash"></i></button> 
			</div>
			<div class="process">
				<div class="parameters">
					<p>Eteindre automatiquement ma prise et mon ordinateur quand les paramètres suivants sont répséctés:</p>
					<div class="input-wrapper">
						<label>Niveau de la batterie de l'ordinateur:</label>
						<input type="number" value=100 name="battery-percentage">
					</div>
					<button class="save"><i class="fa fa-save"></i>Enregistrer</button>
				</div>
			</div>
		</div>

	</div>
</template>