<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Boulou | Plug Manager</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/manager.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
	<main>
		<div class="plug-list">
			<div class="plug-entry">
				<div class="icon">
					<i class="fa fa-plug"></i>
					<span class="status online"><i class="fa fa-exclamation-circle"></i> Active</span>
				</div>
				<div class="info">
					<div>
						<span class="id">skdlmqmldkqslmkdmlqskmdkqs</span>
						<span class="name">AsterX plug</span>
					</div>
					<div class="action">
						<button><i class="fa fa-toggle-off"></i> Eteindre</button>
						<button><i class="fa fa-exclamation-circle"></i> Information</button>
						<button><i class="fa fa-trash"></i></button> 
					</div>
				</div>
			</div>

			<div class="plug-entry add-plug">
				<button class="icon">
					<i class="fa fa-plus"></i> Connecter une nouvelle prise
				</button>
			</div>
		</div>
	</main>
	<section class="menu">
		<button class="button-menu add"><i class="fa fa-plug"></i> Prises enregistrées</button>
		<button class="button-menu add"><i class="fa fa-plus"></i> Consommation</button>
		<button class="button-menu add"><i class="fa fa-plus"></i> Planification</button>
	</section>
</body>
</html>